<% include partials/header %>

<h1>It is my HOME Page</h1>
<img src="http://www.shaolinchamber36.com/kungfufandom/uploads/monthly_2015_10/inspirational-quote-simplicity-brilliance-bruce-lee.jpg.88584a39368fe5736461f9ff23ef030a.jpg">

<% include partials/footer %>