<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">New Blog
        <form class="ui form" action="/blogs" method="POST">
            <div class="field">
                <label>Title</label>
                <input type="text" name="bl[title]" placeholder="Title">
            </div>
            <div class="field">
                <label>Image</label>
                <input type="text" name="bl[image]" placeholder="Image">
            </div>
            <div class="field">
                <label>Blog Content</label>
                <textarea name="bl[body]"></textarea>
            </div>
            <input class="ui green big basic button" type="submit"> 
        </form>
    </div>
</div>

<% include ./partials/footer %>