<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My RESTFUL BlogPost</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>My RESTFUL Blog</div>
                <a class="item" href="/">Home</a>
                <a class="item" href="/blogs/new">Add new blog</a>
            </div>
        </div>